.wrapp {
  border: 2px solid black;
  padding: 25px;
  font-size: 16px;
  margin: 0 auto;
  width: 380px;
  min-height: 190px;
}
.list {
  border: 2px solid #ccc;
  padding: 10px 5px 9px 7px;
  margin-right: 2px;
  display: inline-block;
  box-sizing: border-box;
  width: 47%;
  vertical-align: top;
}

.information {
  box-sizing: border-box;
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
.weather,
.description {
  border: 2px solid #ccc;
  width: 200px;
}
.weather {
  margin-bottom: 2px;
  min-height: 100px;
  position: relative;
}
.description {
  min-height: 80px;
  position: relative;
}
.choice {
  margin: 80px 0px 0px 75px;
  display: inline-block;
}
