<div class="descr_wrap">
  <div class="social_icons_wrap">
    <img class="social_icons" [src]="descr.fb_img_src" />
    <p class="icons_num">{{ descr.num_1 }}</p>
  </div>
  <div class="social_icons_wrap">
    <img class="social_icons" [src]="descr.inst_img_src" />
    <p class="icons_num">{{ descr.num_2 }}</p>
  </div>
  <div class="social_icons_wrap">
    <img class="social_icons" [src]="descr.tw_img_src" />
    <p class="icons_num">{{ descr.num_3 }}</p>
  </div>
</div>
<p class="descr_text">{{ descr.text }}</p>
